/* .grid_container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: blue;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
    list-style: none;
    gap: 20px;
}
.grid-i{
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    padding: 30px;
    font-size: 30px;
    text-align: center;
} */
.grid_container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: blue;
    list-style: none;
    padding: 10px;
}
.grid_container>div{
    background-color: aquamarine;
    text-align: center;
    padding: 20px 0;
}
.grid-i{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-end: 3px;
}